<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{person?.name}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <img [src]="person?.img">
    <div class="container">
      <div class="row">
        <div class="col-6">ID</div>
        <div class="col-6">{{person?.char_id}}</div>
      </div>
      <div class="row">
        <div  class="col-6">Name</div>
        <div  class="col-6">{{person?.name}}</div>
      </div>
      <div class="row">
        <div  class="col-6">Birthday</div>
        <div  class="col-6">{{person?.birthday}}</div>
      </div>
      <div class="row">
        <div class="col-6" >Occupation</div>
        <div  class="col-6">{{person?.occupation}}</div>
      </div>
      <div class="row">
        <div  class="col-6">Status</div>
        <div  class="col-6">{{person?.status}}</div>
      </div>
  </div>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('close')">Close</button>
  </div>
</ng-template>
