<app-filter></app-filter>
<div  *ngIf="gettingElementsService.filteredPersons.length">
    <a-scene antialias="true" embedded  [style.height]="'400px'" cursor="rayOrigin: mouse" >
      <ng-container  *ngFor="let item of gettingElementsService.filteredPersons; let i=index">
            <a-text [id]="'idtext'+i"   color="#000" font = "https://cdn.aframe.io/fonts/SourceCodePro.fnt"  width="5" (click)="openDetails(item)"></a-text>
            <a-box  [id]="'idbox'+i"  rotation="0 45 0"  (click)="openDetails(item)"></a-box>
      </ng-container>
    </a-scene>
</div>

<app-element *ngIf="this.gettingElementsService.currentPerson" [person]="this.gettingElementsService.currentPerson"></app-element>
